body{
    text-align:center;
    margin-bottom:20px;
}
td{
    font-size:25px;
}
button{
	margin:5px;
}
h2{
	font-size:40px;
}
select{
	width:50%;
	height:40px;
	border-color:black;
    margin-right:10px;
    font-size:20px;
}
input{
	width:50%;
	height:40px;
	border-color:black;
	margin-top:10px;
	margin-bottom:10px;
	font-size:20px;
}
.modal-body{
	font-size:20px;
}
#stats{
	margin-left:95px;
	margin-right:95px;
}
#total{
	font-size:30px;
}